
* {
    padding: 13px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
 background: rgb(240, 244, 187);
    color: rgb(0, 0, 0);
}
.img1 {
    width: 180px;
    height: auto;
    overflow: hidden;
    margin-top: -100px;
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15%;
    background: transparent;
    -o-transition: all 0.50s ease;
    -webkit-transition: all 0.50s ease;
    -moz-transition: all 0.50s ease;
    -ms-transition: all 0.50s ease;
    transition: all 0.50s ease;
}

.navlist{
    display: flex;

}
.navlist a{
    margin: 8px 11px;
    padding: 5px 5px;
    color: #d247c1;
    font-size: 17px;
    font-weight: 500;
}
.navlist a:hover{
    color: #900b87;
}
.btn{
    display: inline-block;
    padding:12px 30px;
    color: #d247c1;
    background: #e0bfd3;
    border-radius:40px ;
    font-size: 15px;
    border: 2px solid transparent;
    transition: all 0.40s ease;
}
.btn:hover{
    border:2px solid #900b87;
    color:#900b87;
    background: transparent;
}
#menu-icon{
    color:#fff;
    font-size: 3px;
}

.body1 {
    background-color: #fefefe;
    padding: 20px;
    -o-border-radius: 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
}



.social-icons{
    width: 250px;
    text-align: center;
    opacity: .9;
    position:relative;
   margin-left: 160px;
}
.social-icons img1{
    height: 24px;
    margin: 0 14px;
}
.social-icons::after{
    content: '';
    width: 150px;
    height: 1px;
    background: #3a2f18;
    position: absolute;
    left: -160px;
    top: 10px;
}

.banner{
    margin: 100px;
    display: flex;
    margin-top:100px ;
}
.left-col,.right-col{
flex-basis: 50%;
}
.right-col img1{
    width: 50%;
}


