
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
 background: rgb(240, 244, 187);
    color: rgb(0, 0, 0);
}
.img1 {
    width: 170px;
    height: auto;
    overflow: hidden;
    margin-top: -30px;
}

nav{
    position: relative;
    width: 100%;
    top: -60px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 7%;
    background: transparent;
    -o-transition: all 0.50s ease;
    -webkit-transition: all 0.50s ease;
    -moz-transition: all 0.50s ease;
    -ms-transition: all 0.50s ease;
    transition: all 0.50s ease;
}

.navlist{
    display: flex;

}
.navlist a{
    margin: 2px 8px;
    padding: 2px 5px;
    color: #d247c1;
    font-size: 17px;
    font-weight: 500;
}
.navlist a:hover{
    color: #900b87;
}
.btn{
    display: inline-block;
    padding:12px 30px;
    margin-bottom: 5px;
    color: #d247c1;
    background: #e0bfd3;
    border-radius:40px ;
    font-size: 15px;
    border: 2px solid transparent;
    transition: all 0.40s ease;
}
.btn:hover{
    border:2px solid #900b87;
    color:#900b87;
    background: transparent;
}
#menu-icon{
    color:#fff;
    font-size: 3px;
}

/* .body1 {
    background-color: #fefefe;
    padding: 20px;
    -o-border-radius: 10px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
}

 */

.social-icons{
    width: 250px;
    text-align: center;
    opacity: .9;
    position:relative;
   margin-left: 110px;
}
.social-icons img{
    height: 25px;
    margin: -10px 10px;
}
.social-icons::after{
    content: '';
    width: 120px;
    height: 1px;
    background: #3a2f18;
    position: absolute;
    left: -90px;
    top: 20px;
}

.banner{
    margin: 140px;
    display: flex;
    margin-top:-80px ;
}
.left-col{
flex-basis: 65%;
}
.right-col{
    flex-basis: 40%;
    }
.right-col img{
    width: 400px;
        height: auto;
}

.left-col h1{
    font-size: 90px;
    color: #c0355c;
    font-family: "French Script MT";
}
.left-col h3{
   font-size:25px ;
}
span{
color: #e49393;
font-family: "Bell MT";
}

.left-col p{
    font-size: 18x;
    font-weight: 600;
    color:#0d1516;
    margin: 30px 0;
}

.fa:hover {
    opacity: 0.7;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

